<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}</h1>
        <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
        <div class="divider"></div>
      </div>
    </div>

    <div class="content">
      <table>
        {{ range $.Site.Data.list }}
        <tr>
          <td style="max-height: 100px">
            <img src="{{ .logo }}" width="150">
          </td>
          <td style="vertical-align: middle">
            {{ .name }}
          </td>
          <td style="vertical-align: middle">
            <a href="{{.link}}" target="_blank">Ссылка на заявление</a>
          </td>
        </tr>
        {{ end }}
      </table>

      <p>

      </p>


    </div>
  </div>
</section>
